.github/workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/line-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "330f5c6d-6204-4c05-a03f-08fc7c6c9c35",
      "name": "受信用",
      "webhookId": "f163df15-b0c8-4c0f-aa78-c087d9044341"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16162a48-5e24-42b0-92fd-1b9ff0e3ef84",
              "name": "body.events[0].message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        200
      ],
      "id": "6d2a16a9-ef3c-4098-bff3-42a5069f19c1",
      "name": "メッセージのみ取得"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=①テキストから、年月日・時刻を正確に抜き取って、その年月日・時刻に予定があるか確認してください {{ $json.output }}(search_event)\n\n②もしその年月日・時刻に予定がなかったら、タイトルを含めて予定を追加して、「予定を追加しました」と返答してください(add_event)\n\n③もし予定が入っていたら「この時間帯に予定があります」とタイトルと一緒に返答してください。\n\n※注意：回答は一文で返し、改行しないでください。エラーにつながります。",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1020,
        400
      ],
      "id": "a7f87e24-2bbc-4406-844b-cee2806edfd5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        620
      ],
      "id": "c7d88113-5590-434d-9e56-8cde5ec0b4df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xVAuMufBpmZJVCcA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "juchiruigui@gmail.com",
          "mode": "list",
          "cachedResultName": "juchiruigui@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1180,
        120
      ],
      "id": "86b94e47-9e9d-4048-b8d9-e3753309a0aa",
      "name": "search_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gUczq6CruCUM9bKS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "juchiruigui@gmail.com",
          "mode": "list",
          "cachedResultName": "juchiruigui@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1180,
        620
      ],
      "id": "9a7a556c-7c93-49b4-aa34-edf30894b9e5",
      "name": "add_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gUczq6CruCUM9bKS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jrAOi+nk7rl6DYLnCMr1e8Ah09wtZviLqo/H03tMJgt+NH76D4AqLwjncB+VTwlUU6RjYYIjrEHOHSTxj7+Lt4GXMMFF0dAUwxlzaoHhjvP8vOn3xkYDVxZ34duUGGqfZkn5Tx3HlJyAXLAzjlA3EAdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n\"replyToken\": $('受信用').item.json.body.events[0].replyToken,\n\"messages\": [\n{\n\"type\": \"text\",\n\"text\": $json.output\n}\n]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        400
      ],
      "id": "f3d195c7-5c39-4397-b5c9-fc153a552c65",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=①ユーザーからのテキストの日程を正確に読み取って、２つ以上の年月日が見つかったらtrueを返してください。１つの場合はfalseを返してください。 {{ $json.body.events[0].message.text }}\n\n※「true」の場合は「true」のみを返してください。\n※日時以外のタイトルはカウントしません。\n\n②falseの場合、ユーザーのテキストも一緒に返してください。{{ $json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "id": "e7b66a23-9ff7-412a-b720-6a438581e955",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        400
      ],
      "id": "4665642d-afa9-4ee7-9ddb-c2cee67328aa",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xVAuMufBpmZJVCcA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4acfb3-cb58-4f56-8928-4f0e24ae5cd0",
              "leftValue": "={{ $json.output }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        200
      ],
      "id": "aa9d5122-aaf6-48f1-8116-d8596b74bad3",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=テキストの日付と時刻を正確に読み取って、予定が入っているかを確認して、指定された日時の中の空き時間を返答してください。(search_event){{ $('メッセージのみ取得').item.json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1020,
        -100
      ],
      "id": "854a0b52-de11-4030-952b-6209273524ab",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        100
      ],
      "id": "92c2ffc9-3df1-4e19-9e25-041c6bb0e29b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "xVAuMufBpmZJVCcA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jrAOi+nk7rl6DYLnCMr1e8Ah09wtZviLqo/H03tMJgt+NH76D4AqLwjncB+VTwlUU6RjYYIjrEHOHSTxj7+Lt4GXMMFF0dAUwxlzaoHhjvP8vOn3xkYDVxZ34duUGGqfZkn5Tx3HlJyAXLAzjlA3EAdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n\"replyToken\": $(\"受信用\").item.json.body.events[0].replyToken,\n\"messages\": [\n{\n\"type\": \"text\",\n\"text\": $json.output\n}\n]\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        -100
      ],
      "id": "265ed17f-c3b9-46aa-8fa9-f2cc8c6df434",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "受信用": {
      "main": [
        [
          {
            "node": "メッセージのみ取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージのみ取得": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "search_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fa57af9-5aa8-4558-bcf9-f51437660fe4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b204d1653a765c9f95c8773b3c186db9edb67feb090de8673224193a963f6663"
  },
  "id": "Vrv9TmSfhNZ9PM8f",
  "tags": []
}